@charset "utf-8";
/* Diễn đàn doanh nghiệp
****************************/
.border_bold
{
	border:solid 1.5px;
	color:#b5b5b5;
}

.margin_right{margin-right:10px;}

.tieude_tb
{
	font-size: 120% !important;
	font-weight:bold;
}
.dd_clear
{
	width:inherit;
	clear:both;
	height:15px;
}

.tieude_blue_bold {
    color: #2164B5;
    font-size: 84.6%;
    font-weight: bold;
    text-transform: uppercase;
}

.tieude_white_bold {
    color: #FFF;
    font-size: 84.6%;
    font-weight: bold;
    text-transform: uppercase;
}

.li_left_menu li
{
	list-style:none;
	height:20px;
	background:url(../Content/ar_black.png) no-repeat scroll 0 5px transparent;
	text-align:left;
	padding-left: 20px;
	text-transform:none;
	margin:15px 0px;
}

.forum-right
{
	float:left;
	height:236px;
	background:url(../Content/dd_top_head.jpg) no-repeat right;
}
.right_infor
{
	width:341px;
	background-color:#3b3734;
	height:210px;
	padding:13px 20px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
.right_infor

.head_forum_1
{
	font-size:18px;
	color:#FFFFFF;
	text-transform:uppercase;
	font-weight:bolder;
}
.head_forum_2
{
	font-size:16px;
	color:#FFFFFF;
	font-weight:bolder;
}
.head_forum_3
{
	font-size: 15px;
	color:#FFFFFF;
	font-weight:bolder;
	clear:both;
}

.head_forum_3 a
{
	color:#FFFFFF;
	font-weight:bolder;
}
.head_forum_a a
{
	font-size: 84.6%;
	color:#FFFFFF;
}
.forum_infor_menu
{
	width:170px;
	float:left;
}
.forum_infor_menu li
{
	height:20px;
	background:url(../Content/ar_white.png) no-repeat scroll 0 5px transparent;
	padding-left:15px;
}
.forum_infor_menu li a
{
	font-size: 90%;
	color:#FFFFFF;
	font-weight:bolder;
}

#line_bold{width:inherit; color:#b5b5b5; line-height:1.5px;}

.forum-center-parent{/*width:788px;*/ float:left;}

.forum-center
{
	/*width:475px;*/
	float:left;
}

.module-right-parent
{
	width:294px;
	float:left;
}
.forum-right-right
{
	background-color:#243f54;
}
.font_taller{font:Verdana, Arial, Helvetica, sans-serif; font-size:13px;}

#register{width:180px; height:25px; margin-left:8px;}
#btn_register
{
	background:#38a935; 
	height:29px; color:#FFFFFF; 
	border:none; cursor:pointer; 
	font:Arial; font-weight:bold; 
	margin-left:7px;
}

.forum-ad
{
	background-color:#38a935 !important;
	height:62px;
}

.ad-img
{
	background-image:url(../Content/dd_quang_cao.jpg);
	height:27px;
}

.center{width:788px;}

/* text - color
***************************/
.white{color:#FFFFFF !important;}
.black{color:#000000 !important;}
.blue{color:#1961ad !important;}
.green{color:#a6c75c !important;}
.yellow{color:#999355 !important;}
.gray_max{color:#636467 !important;}
.gray_min{color::#636467 !important;}

.medium{font-weight:500 !important;}
.bold{font-weight:bolder  !important;}
.italic{font-style:italic !important;}

.text_up{text-transform:uppercase !important;}
.text_medium{text-transform:none !important;}

.s11{font-size:11px !important;}
.s12{font-size:12px !important;}
.s13{font-size:13px !important;}
.s14{font-size:14px !important;}
.s15{font-size:15px !important;}
.s16{font-size:16px !important;}
.s17{font-size:17px !important;}
.s18{font-size:18px !important;}
.s20{font-size:20px !important;}
.s21{font-size:21px !important;}
.s22{font-size:22px !important;}

.tahoma{font-family:Tahoma !important;}
.time{font-family:"Times New Roman", Times, serif !important;}

.Myri
{
	font-family:"myriad Pro" !important;
}
.mini_letter
{
	letter-spacing:0px;
}

/*  cap 2
*********************/
.module_menu_left .head
{
	background-color:#ededee;
}
.signup-btn
{
	width:82px;
	height:33px;
	background: url(../Content/signup.png) no-repeat;
	padding-top:5px;
	padding-left:10px;
}